.Container{
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



    .card {
        height: 15rem;
        width: auto;
        border-radius: 5px;

        margin: 10px;
        background-color: #eff5f2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
            font-size: 1.3rem;
        }

        span{
            display: flex;
            
            p{
                margin: 0.2rem;
            }
        }
    }

    .swiper{
        width: 15rem;
        min-height: 17rem;
        height: auto;
    }
}